/* theme */
:root {
    --dolphin-gray: rgb(130, 151, 135); 
    --dark-slate-gray: rgb(29, 92, 99);
    --rainbow-indigo: rgb(37, 59, 89);
    --dark-vanilla: rgb(201, 191, 175);
    --twilight-lavender: rgb(125, 79, 105);
}


/* universal */
* {
    font-family: 'Libre Baskerville', serif;
}

/* elements */
body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/repeated-square-dark.png);
}

/* nav bar */
nav {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/repeated-square-dark.png);
    color: var(--dark-vanilla);
    padding: 10px;
    

    
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

nav ul li {
    margin: 0 10px 0 10px;
    padding: 5px 3% 5px 3%;
}

a {
    color: var(--dark-vanilla);
    text-decoration: none;
}

/* nameplate */

h1 {
    background-color: var(--twilight-lavender);
    padding: 50px;
    text-align: center;
    font-size: 40px;
    margin: 0 2% 0 2%;
}

/* main */

main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  
}

#about {
    background-color: var(--rainbow-indigo);
    color: var(--dark-vanilla);
    height: 757px;
    width: 20%;
    margin: 2% 0 2% 2%;
    padding: 1%;

}

img {
    width: 100%;
    height: auto;
    border: solid black 2px;
}

h2 {
    text-align: center;
    margin: 2%;
    
}

#work {
    background-color: var(--dolphin-gray);
    height: 757px;
    width: 70%;
    margin: 2% 2% 2% 2%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#work div {
    width: 45%;
    border: solid var(--rainbow-indigo) 5px;
    margin: 1% 1% 1% 1%;
}

#work div p{
    margin: 3%;
    background-color: var(--twilight-lavender);
    color: var(--dark-vanilla);
    padding: 1%;
    width: 25%;
    border: solid var(--dark-vanilla) 1px;
}

/* footer */

#contact {
    background-color: var(--dark-slate-gray);
    text-align: center;
    padding: 5px;
    margin: 0 2% 1% 2%;
    
}

#contact ul {
    list-style-type: none;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

#contact ul li {
    margin: 10px;
}

#contact a {
    color: black;
}

/* pseudoclasses */

#work div:hover {
    box-shadow: 0px 0px 20px var(--rainbow-indigo);
}

 nav a:active {
    color: var(--dolphin-gray);
}

div a:active {
    color: var(--rainbow-indigo)
}

#contact a:active {
    color: var(--dark-vanilla)
}

/* classes */

.notebook-image {
    background-image: url(../../assets/images/notebook.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 }


 .horiseon-image {
    background-image: url(../../assets/images/blue.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 }

 .coming-soon {
    background-image: url(../../assets/images/coming-soon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 }

 .leaflit-image {
    background-image: url(../../assets/images/leaflit.png);
    background-size: cover;
    background-repeat: no-repeat;
 }



/* media queries */

@media screen and (max-width: 992px) {
    
    main {
        flex-direction: column;
    }
    
    #about {
        height: 500px;
        width: 94%;
    }
    
    #about img {
        max-width: 20%;
        height: auto;
        position: relative;
        left: 40%;
        
    }
    
    #work {
      flex-direction: column;
      width: 94%;
      
    }

    #work div {
        width: 90%;
        height: 20%;
        margin-left: 4%;
    }

    #work div p {
        width: 50%;
    }

     nav ul {
        flex-direction: column;
        
        text-align: center;
      }

    #contact ul {
        flex-direction: column;
        text-align: center;
        padding: 0 0 20px 0;
    }

    #contact ul li {
        margin: 2px;
        
    }

    #contact h2 {
        padding: 0 0 5px 0;
    }
  }

  
    #work div p {
        width: 40%;
    }  
    
    @media screen and (max-width: 768px) {
        #about img {
            max-width: 20%;
            height: auto;
            position: relative;
           
    }
}



    @media screen and (max-width: 576px) {
        #about img {
            max-width: 20%;
            height: auto;
            position: relative;
            
        }
    }
    
  
