:root {
    --dolphin-gray: rgb(130, 151, 135); 
    --dark-slate-gray: rgb(29, 92, 99);
    --rainbow-indigo: rgb(37, 59, 89);
    --dark-vanilla: rgb(201, 191, 175);
    --twilight-lavender: rgb(125, 79, 105);
}


/* universal */
* {
    font-family: 'Libre Baskerville', serif;
}

body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/repeated-square-dark.png);
}

/* nav bar */
nav {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/repeated-square-dark.png);
    color: var(--dark-vanilla);
    padding: 10px;
    /* width: 100% */

    
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

nav ul li {
    margin: 0 10px 0 10px;
    padding: 5px 3% 5px 3%;
}

a {
    color: var(--dark-vanilla);
    text-decoration: none;
}
/* nameplate */

h1 {
    background-color: var(--twilight-lavender);
    padding: 50px;
    text-align: center;
    font-size: 40px;
    margin: 0 2% 0 2%;
}

/* main */

main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  
}

#about {
    background-color: var(--rainbow-indigo);
    color: var(--dark-vanilla);
    height: 750px;
    width: 20%;
    margin: 2% 0 2% 2%;
    padding: 1%;

}

img {
    width: 100%;
    height: auto;
    border: solid black 2px;
}

h2 {
    text-align: center;
    margin: 2%;
    
}

#work {
    background-color: var(--dolphin-gray);
    height: 750px;
    width: 70%;
    margin: 2% 0 2% 2%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#work div {
    width: 45%;
    border: solid var(--rainbow-indigo) 5px;
    margin: 0 0 1% 0;
}

#work div p{
    margin: 3%;
    background-color: var(--twilight-lavender);
    color: var(--dark-vanilla);
    padding: 1%;
    width: 25%;
    border: solid var(--dark-vanilla) 1px;
}

/* classes */

 .notebook-image {
    background-image: url(../../assets/images/notebook.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 }


 .horiseon-image {
    background-image: url(../../assets/images/blue.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 }

 .coming-soon {
    background-image: url(../../assets/images/coming-soon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 }


/* footer */

#contact {
    background-color: var(--dark-slate-gray);
    text-align: center;
    padding: 5px;
    margin: 0 2% 1% 2%;
    
}

#contact ul {
    list-style-type: none;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

#contact ul li {
    margin: 10px;
}

#contact a {
    color: black;
}

/* pseudoclasses */

#work div:hover {
    /* box-shadow: inset 0px 0px 20px var(--dark-vanilla) */
    box-shadow: 0px 0px 20px var(--rainbow-indigo);
}

 nav a:active {
    color: var(--dark-slate-gray);
}

div a:active {
    color: var(--rainbow-indigo)
}

#contact a:active {
    color: var(--dark-vanilla)
}

